
<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>About DAShelper</title>
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Spicemystery Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700' rel='stylesheet' type='text/css'>
<script src="js/jquery.min.js"></script>
<link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" />
<script src="js/simpleCart.min.js"> </script>
 <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Spicemystery Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700' rel='stylesheet' type='text/css'>
<script src="js/jquery.min.js"></script>
<link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" />
<script src="js/simpleCart.min.js"> </script>
<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<script type="text/javascript" src="https%3A%2F%2Fcse.google.com%2Fcse/tools/onthefly?form=searchbox_demo&lang="></script>

</head>
<body>
<!-- header -->
<div class="header">

		<div class="container">
			<div class="logo">
				<a href="index.html"><img src="" class="img-responsive" alt=""></a>
			</div>
			<div class="header-right1">
				<div class="head-nav">
					<span class="menu"> </span>
						<ul>
                             <li class="active"><a  href="/index">HOME</a></li>
							<li class="dropdown" ><a class="dropdown-toggle" data-toggle="dropdown" href="/lowcarb">LOW CARB <span class="caret"></span></a>
                                <ul class="dropdown-menu" style="min-width:139px;background-color: #D96B66;" >
                                  <li><a href="/lowcarb">RECIPES</a></li>
                                  <li><a href="/shop">SHOP</a></li>
                                </ul>
                              </li>
							<li><a href="/BMI">BMI</a></li>
							<li><a href="/About%20Us">ABOUT US</a></li>
								<div class="clearfix"> </div>
						</ul>
								<!-- script-for-nav -->
							<script>
								$( "span.menu" ).click(function() {
								  $( ".head-nav ul" ).slideToggle(300, function() {
									// Animation complete.
								  });
								});
							</script>
						<!-- script-for-nav -->
					</div>
					<div class="header-right1">
						<div class="cart box_1">
							<div class="clearfix"> </div>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
					<div class="clearfix"> </div>
			</div>
	</div><!-- header -->
<!-- contact -->
 <div class="contact-details">

			  <div class="col-md-6 company_address">
					<h4><a href="www.techkids.vn" >TECHKIDS - C4E4 - Code The Change</a></h4>
					<h4>Giới thiệu chung</h4>
					<p>Chúng tôi ở đây để tạo ra những con người có thể thay đổi thế giới. TechKids không phải là một trung tâm đi dạy Lập trình kiếm tiền, hay một trường học chỉ đọc chép từ bao thế hệ. Đây là một cộng đồng toàn cầu của những người sẵn sàng trở thành những người giỏi nhất, khác biệt nhất trong thế giới Công nghệ. Ở đó chúng ta cùng nhau tìm định hướng, học hỏi hết mình, khơi dậy những ước mơ, cố gắng không ngừng và đồng hành với nhau trên hành trình chinh phục Công nghệ cao để thay đổi thế giới!

TechKids hiện tại trực thuộc Tổ chức Giáo dục vì cộng đồng ILIAT SCHOOL với 1200+ thành viên đến từ những trường Đại học và công ty về Công nghệ – Kinh tế – Kinh doanh danh giá nhất trên thế giới: Harvard, Stanford, Oxford,…hay Unilever, Uber, Grabtaxi... </p>
				  <br>
                  <br>
					<p>TechHub Chùa Láng: Số 10, ngõ 121, Chùa Láng</p>
                    <p>TechHub Chùa Bộc: Số 101D, ngõ 95 Chùa Bộc</p>

			 </div>

     <br>
     <br>
               <div class="col-md-6 contact-map">
                   <br>
                   <br>
				 <h4 style="margin-left: 15px"> FIND US HERE</h4>
				 <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d803187.8113675824!2d-120.11910914056458!3d38.15292455846902!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fb9fe5f285e3d%3A0x8b5109a227086f55!2sCalifornia%2C+USA!5e0!3m2!1sen!2sin!4v1423829283333" frameborder="0" style="border:0"></iframe>
			  </div>
			  <div class="clearfix"></div>
	     </div>
	<div class="magnust">

		<div class="col-md-4 magnust-top">

			<div class="magnust-left">
				<img src="https://scontent-hkg3-1.xx.fbcdn.net/v/t1.0-9/12310560_1096397610372083_5091278493452506547_n.jpg?oh=5d0b703d2577f6e1c1956d50d4441018&oe=57CC9CD8" class="img-responsive" style="border-radius: 100%" alt="">
			</div>
			<div class="magnust-right">
				<h4><a href="#">Trần Thanh Tú</a></h4>
				<p> </p>
				<a class="see" href="https://www.facebook.com/tranthanhtu">See More</a>
			</div>
				<div class="clearfix"> </div>
		</div>
		<div class="col-md-4 magnust-top">
			<div class="magnust-left">
				<img src="https://scontent-hkg3-1.xx.fbcdn.net/v/t1.0-9/12208290_476575849196234_3727207768831228917_n.jpg?oh=e995e90939ece45dd45e945e7ecd1824&oe=57CEE6B9" class="img-responsive" style="border-radius: 100%" alt="">
			</div>
			<div class="magnust-right">
				<h4><a href="#">Nguyễn Mai Hương</a></h4>
				<p> </p>
				<a class="see" href="https://www.facebook.com/maihuong.smartcom">See More</a>
			</div>
				<div class="clearfix"> </div>
		</div>
		<div class="col-md-4 magnust-top">
			<div class="magnust-left">
				<img src="https://scontent-hkg3-1.xx.fbcdn.net/v/t1.0-9/13240046_836539753118113_2150315602509323374_n.jpg?oh=6321091eabf3decf66e5c0f2c8c9cd50&oe=57E75DAB" class="img-responsive" style="border-radius: 100%" alt="">
			</div>
			<div class="magnust-right">
				<h4><a href="#">Nguyễn Hà Giang</a></h4>
				<p> </p>
				<a class="see" href="https://www.facebook.com/giangnguyen.31196">See More</a>
			</div>
				<div class="clearfix"> </div>
		</div>
        <div class="col-md-4 magnust-top">
			<div class="magnust-left">
				<img src="https://scontent-hkg3-1.xx.fbcdn.net/v/t1.0-1/11209365_728828470555849_5675839480770443437_n.jpg?oh=f45d36dd523a4a33ca2eecc0ee6b2415&oe=57CDEAAD" class="img-responsive" style="border-radius: 100%"  alt="">
			</div>
			<div class="magnust-right">
				<h4><a href="#">Nguyễn Phúc Khang</a></h4>
				<p> </p>
				<a class="see" href="https://www.facebook.com/profile.php?id=100002861090848">See More</a>
			</div>
				<div class="clearfix"> </div>
		</div>
			<div class="clearfix"> </div>
	</div>
	</div>


<!-- contact -->
<!-- footer-->
	<div class="footer">
		<div class="container">
			<div class="footer-left">
				<p>Copyrights © 2016 | Design by <a href="https://www.facebook.com/groups/509764159226579/?fref=ts">Team 2 - C4E4</a></p>
			</div>
			<div class="footer-right">
				<ul>
					<li><a href="#"><i class="fbk"></i></a></li>
					<li><a href="#"><i class="googpl"></i></a></li>
					<li><a href="#"><i class="link"></i></a></li>
					<li><a href="#"><i class="rss"></i></a></li>
					<li><a href="#"><i class="twt"></i></a></li>
				</ul>
			</div>	
				<div class="clearfix"></div>
		</div>
	</div>
<!-- footer-->	
</body>
</html>